body {
    padding-top: 20px;
    font-family: Courier New, Courier, monospace;
    color: white;
    text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black, 1px 1px 2px black;
    background: url("../images/halloween.jpg");
    background-size: cover;
    }

.container { 
    text-align: center;
    }
    
h1,h2,h3,
h4,h5,h6 {
    padding: 3px;
    background-color: rgba(252, 98, 9, 0.2);
}

#title-image{
    height: 215px;
    width: 800px;
    display:block;
    margin: 0 auto;
}

#gameover-image, #youwin-image, #hangmanImage{ 
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 400px;
}

#currentWord {
    letter-spacing: 10px;
}

#pressKeyTryAgain, 
#gameover-image, 
#youwin-image { display: none;}
.gameplay-column {
    padding-top: 20px;
    border: 3px solid rgb(8, 8, 8);
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(8, 8, 8, 0.3);
}
